*
  margin: 0
  padding: 0
  box-sizing: border-box

.mainElement
  position: relative
  grid-row: 3/4
  grid-column: 3/11
  display: flex
  justify-content: center
  overflow: hidden
  align-content: center

  .display
    position: relative
    width: 900px
    min-height: 400px
    background-color: #2A86F1
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 20px
    max-height: 500px

    .location
      font-size: 3rem
      font-weight: 300

    .temp
      font-size: 3.5rem

    .description
      font-size: 2rem
      text-transform: capitalize

    p
      font-weight: 300
      padding: 10px

.subElements__wrapper
  grid-row: 5/6
  grid-column: 3/11
  width: 900px
  position: relative
  align-self: center
  justify-self: center
  overflow: hidden

.subElements
  position: relative
  display: flex
  flex-wrap: nowrap
  justify-content: space-betweens
  transition: .1s transform

  transform: translateX(0px)

  .display
    position: relative
    min-width: 300px
    padding: 30px 0px
    background-color: #2A86F1

  .location
    font-size: 2rem
    font-weight: 300

    .temp
      font-size: 2.5rem

    .description
      font-size: 1.2rem
      text-transform: capitalize
    p
      font-weight: 300
      padding: 10px

.slider__button
  outline: transparent
  background-color: transparent
  border: none
  color: white
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  left: 0
  top: 50%
  transform: translateY(-50%) rotate(180deg)
  font-size: 36px
  border-radius: 10px
  &:nth-of-type(2)
    left: 100%
    transform: translateX(-100%) translateY(-50%) rotate(0)

  &:hover
    cursor: pointer
    background-color: red

@media screen and ( max-width: 1025px )
  .subElements__wrapper
    width: 600px

@media screen and ( max-width: 800px )
  .subElements__wrapper
    width: 300px

  .mainElement
    grid-column: 1/13
    .display
      width: 400px
