*
  margin: 0
  padding: 0
  box-sizing: border-box

.mainElement
  position: relative
  grid-row: 3/4
  grid-column: 3/11
  display: flex
  justify-content: center
  align-content: center

  .display
    position: relative
    width: 900px
    min-height: 400px
    background-color: #2A86F1
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 20px
    max-height: 500px

    .location
      font-size: 3rem
      font-weight: 300

    .temp
      font-size: 3.5rem

    .description
      font-size: 2rem
      text-transform: capitalize

.subElements
  align-self: center
  justify-self: center
  grid-row: 5/6
  grid-column: 3/11
  display: flex
  flex-wrap: wrap
  justify-content: center
  padding: 0 30px

  .display
    margin: 10px
    width: 200px
    padding: 30px 10px
    background-color: #2A86F1
