* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mainElement {
  position: relative;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -ms-flex-line-pack: center;
      align-content: center;
}

.mainElement .display {
  position: relative;
  width: 900px;
  min-height: 400px;
  background-color: #2A86F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  max-height: 500px;
}

.mainElement .display .location {
  font-size: 3rem;
  font-weight: 300;
}

.mainElement .display .temp {
  font-size: 3.5rem;
}

.mainElement .display .description {
  font-size: 2rem;
  text-transform: capitalize;
}

.mainElement .display p {
  font-weight: 300;
  padding: 10px;
}

.subElements__wrapper {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
  width: 900px;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  overflow: hidden;
}

.subElements {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-betweens;
      -ms-flex-pack: space-betweens;
          justify-content: space-betweens;
  -webkit-transition: .1s transform;
  transition: .1s transform;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.subElements .display {
  position: relative;
  min-width: 300px;
  padding: 30px 0px;
  background-color: #2A86F1;
}

.subElements .location {
  font-size: 2rem;
  font-weight: 300;
}

.subElements .location .temp {
  font-size: 2.5rem;
}

.subElements .location .description {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.subElements .location p {
  font-weight: 300;
  padding: 10px;
}

.slider__button {
  outline: transparent;
  background-color: transparent;
  border: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  font-size: 36px;
  border-radius: 10px;
}

.slider__button:nth-of-type(2) {
  left: 100%;
  -webkit-transform: translateX(-100%) translateY(-50%) rotate(0);
          transform: translateX(-100%) translateY(-50%) rotate(0);
}

.slider__button:hover {
  cursor: pointer;
  background-color: red;
}

@media screen and (max-width: 1025px) {
  .subElements__wrapper {
    width: 600px;
  }
}

@media screen and (max-width: 800px) {
  .subElements__wrapper {
    width: 300px;
  }
  .mainElement {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .mainElement .display {
    width: 400px;
  }
}
/*# sourceMappingURL=MainPage.css.map */