* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  z-index: 4;
  top: 0;
  left: 0;
  position: fixed;
  width: 200px;
  height: 100vh;
  background-color: #fff;
  color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .5fr 1fr .5fr;
      grid-template-rows: .5fr 1fr .5fr;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

nav ul {
  list-style: none;
  position: relative;
}

nav ul a {
  text-decoration: none;
  width: 100%;
}

nav ul li, nav ul .list-el {
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

nav ul li:hover, nav ul .list-el:hover {
  background-color: #e4e4e4;
}

nav ul li:hover span, nav ul .list-el:hover span {
  margin-left: 30px;
}

nav ul li .icon, nav ul .list-el .icon {
  font-size: 150%;
  margin-left: 20px;
}

nav ul li span, nav ul .list-el span {
  margin-left: 20px;
  -webkit-transition: margin .3s;
  transition: margin .3s;
}

nav ul:nth-of-type(2) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px 0;
}

.activator_wrap {
  position: relative;
}

.activator_wrap .activator {
  cursor: pointer;
  position: absolute;
  font-size: 44px;
  top: 0;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 10px;
}

.activator_wrap .activator:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 700px) {
  nav {
    background-color: transparent;
    width: 100vw;
    height: 60px;
    -ms-grid-columns: 3fr 2fr;
        grid-template-columns: 3fr 2fr;
    -ms-grid-rows: none;
        grid-template-rows: none;
    top: calc(100% - 60px);
    -webkit-transition: none !important;
    transition: none !important;
    -webkit-transform: translate(0) !important;
            transform: translate(0) !important;
  }
  nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav ul:nth-of-type(2) {
    padding: 0;
  }
  nav ul a {
    height: 100%;
  }
  nav ul li, nav ul .list-el {
    background-color: #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  nav ul li .icon, nav ul .list-el .icon {
    margin: 0;
  }
  nav ul li span, nav ul .list-el span {
    display: none;
  }
  nav .activator_wrap {
    display: none;
  }
}
/*# sourceMappingURL=Navbar.css.map */